body {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  background-color: $bodyBG;
  font-family: sans-serif;
  color: $fontColor;

  overflow-x: hidden;

  &.noscroll {
    overflow: hidden;
  }
}


li {
  list-style: none;
}


a{
  text-decoration: none;
}




